name: Build Cloudstream Extensions

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: gradle :AnimeSama:make

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Cloudstream-Plugin
          path: "**/*.cs3"

      - name: Push to Builds Branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: builds
          FOLDER: .
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Build: {sha}"